<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <style>
      body {
        margin: 20px;
      }

      a {
        color: blue;
        font-size: 20px;
        display: block;
      }
    </style>
  </head>
  <body>
    <h1>메인 페이지</h1>
    <p>관리자 사이트 메인페이지</p>
    <a href="/login">로그인하러 가기</a> <br />
    <a href="/admin/list">관리자 계정 목록</a><br />
    <a href="/article/list">게시글 목록</a><br />
    <a href="/member/list">멤버 목록</a><br />
    <a href="/channel/list">채널 목록</a><br />
    <a href="/message/list">메시지 목록</a><br />
  </body>
</html>
