<form action="/login" method="post">
  <div class="login-screen">
    <div class="login-body">
      <a href="index.html" class="login-logo">
        <img src="img/logo.svg" alt="Quick Chat" />
      </a>
      <h5>비밀번호 재설정</h5>
      <h6>변경할 비밀번호를 입력해주세요.</h6>
      <div class="field-wrapper">
        <input type="password" name="member_password" required />
        <div class="field-placeholder">비밀번호</div>
      </div>
      <div class="field-wrapper mb-3">
        <input type="password" required />
        <div class="field-placeholder">비밀번호 확인</div>
      </div>
      <p style="color: rgb(205, 0, 0)"><%=resultMsg%></p>
      <div class="actions">
        <button type="submit" class="btn btn-primary ml-auto">비밀번호 재설정</button>
      </div>
    </div>
  </div>
</form>
<script></script>
