<form action="/entry" method="post">
  <div class="login-screen">
    <div class="login-body">
      <a href="index.html" class="login-logo">
        <img src="img/logo.svg" alt="Quick Chat" />
      </a>
      <p style="color: #222; font-size: 18px">감사합니다.<br /><%-successMsg%></p>
    </div>
    <div class="login-footer">
      <a style="font-size: 15px" href="/login" class="btn btn-secondary">로그인 하러 가기</a>
    </div>
  </div>
</form>
