<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인</title>
  </head>
  <body>
    <h1>로그인</h1>
    <form action="/member/login" method="post">
      메일주소: <input type="text" name="email" value="<%=email%>" /><br />
      암호: <input type="password" name="password" value="<%=password%>" /><br />
      <button type="submit">로그인</button>
    </form>
    <p><%=resultMsg%></p>
    <script>
      // var result = '<%=resultMsg%>';

      // if (result != '') {
      //   alert(result);
      // }
    </script>
  </body>
</html>
