<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Welcome</title>
</head>
<body>
  <h1>대표 인사말</h1>
  <p>잘하겠습니다. 하하하.</p>
</body>
</html>