<form action="/find" method="post">
  <div class="login-screen">
    <div class="login-body pb-4">
      <a href="index.html" class="login-logo">
        <img src="img/logo.svg" alt="Quick Chat" />
      </a>
      <h6>In order to access your account, please enter the email id you provided during the registration process.</h6>
      <div class="field-wrapper mb-3">
        <input type="email" name="email" autofocus required />
        <div class="field-placeholder">이메일</div>
      </div>
      <div class="field-wrapper mb-3">
        <input type="text" name="telephone" required />
        <div class="field-placeholder">전화번호</div>
      </div>
      <p style="color: rgb(178, 0, 0)"><%= resultMsg %></p>
      <div class="actions">
        <button type="submit" class="btn btn-primary ml-auto">Submit</button>
      </div>
    </div>
  </div>
</form>
<script>
  if ('<%= userPassword %>') {
    alert(`비밀번호는 ${'<%= userPassword %>'} 입니다.`);
    location.href = '/login';
  }
</script>
