<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>상품 상세 페이지 - <%= productName %></title>
  </head>
  <body>
    <h1><%= productName %> 상세 페이지</h1>
    <p>제품번호: <%= productID %></p>
    <p>제 품 명: <%= productName %></p>
  </body>
</html>
