<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>상품목록페이지</title>
  </head>
  <body>
    <h1>상품목록페이지</h1>

    <table>
      <thead>
        <tr>
          <th>제품번호</th>
          <th>제품명</th>
          <th>가격</th>
          <th>재고수량</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td><a href="/product/detail?pid=1&pname=LG 노트북">LG 노트북</a></td>
          <td>6000</td>
          <td>5</td>
        </tr>
        <tr>
          <td>2</td>
          <td>SAMSUNG 노트북</td>
          <td>7000</td>
          <td>2</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
