<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      table {
        border-collapse: collapse;
      }
      th,
      td {
        text-align: center;
        border: 1px solid #dddddd;
        padding: 8px;
      }
      a {
        display: block;
        padding: 10px;
      }

      .create {
        margin: 20px;
      }
    </style>
    <title>message - list</title>
  </head>
  <body>
    <h1>message - list</h1>
    <table>
      <thead>
        <tr>
          <th>채널ID</th>
          <th>멤버ID</th>
          <th>닉네임</th>
          <th>메시지</th>
          <th colspan="2">관리</th>
        </tr>
      </thead>
      <tbody>
        <% messageList.forEach(message => { %>
          <tr>
            <td><%=message.channel_id%></td>
            <td><%=message.member_id%></td>
            <td><%=message.nick_name%></td>
            <td><%=message.message%></td>
            <td><a href="/message/modify">수정</a></td>
            <td><a href="/message/delete">삭제</a></td>
        </tr>
          <% }) %>
      </tbody>
    </table>
    <a class="create" href="/message/create">메시지작성</a>
  </body>
</html>
